body {
  background: #eacda3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li a {
  color: green;
  display: block;
  font-size: 30px;
  text-decoration: none;
}

li a:hover {
  color: #224422;
}

ul {
  padding-left: 0;
  text-align: center;
}