body {
    background-color: #e8e8ee;
    font-family: Arial, Helvetica, sans-serif
}

div.header {
  background-color: 535460;
  margin: 4px;
  padding: 4px;
}

h1 {
    color: e1e918;
    text-shadow: 3px 2px b8b8b9;
    font-size: 50px;
}

h2 {
  color: 9396B2;
  font-size: 40px;
}

p {
    font-size: 30px;
}

div.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    /* to center the container */
}

img {
    display: inline-block;
    max-height: 60%;
    width: 50%;
    position: relative;
    background: url() 50% 50% no-repeat;
    background-size: cover;
    background-clip: content-box;
    float: right;
}