certifi==2018.1.18
chardet==3.0.4
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.0.2
django-allauth==0.35.0
django-filter==1.1.0
djangorestframework==3.7.7
graphene==2.0.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
idna==2.6
iso8601==0.1.12
Markdown==2.6.11
oauthlib==2.0.6
promise==2.1
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4
urllib3==1.22
