django==2.0.2
django-allauth==0.35.0
djangorestframework==3.7.7
graphene-django>=2.0.dev
django-filter==2.0.0.dev1
django_extensions==2.0.6
psycopg2-binary==2.7.4
gunicorn==19.7.1
python-decouple==3.1
whitenoise==3.3.1
dj-database-url==0.5.0
ipython==6.2.1
