{% load static %} {% comment %}

</form> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'charactercreator/styles.css' %}" />
<html>
<div class="container">
  {% if character %}

  <h1>{{ character.name }}</h1>

  <p>Class: {{ charClass }}</p>

  <p>Level: {{ character.level }}</p>

  <p>Experience: {{ character.exp }}</p>

  <p>Hit Points: {{ character.hp }}</p>

  <p>Strength: {{ character.strength }}</p>

  <p>Intelligence: {{ character.intelligence }}</p>

  <p>Dexterity: {{ character.dexterity }}</p>

  <p>Wisdom: {{ character.wisdom }}</p>
{% endif %}
</div>

</html>