{% load static %}

<form>

  <input type="button" value="Logout" onclick="window.location.href='https://django-rpg-app.herokuapp.com/accounts/logout/'"
  />

</form>

<link rel="stylesheet" type="text/css" href="{% static 'charactercreator/styles.css' %}" />

<html>

<h1>{{ character.name }}</h1>

<div class="container">

  <img src={{ charImage }} alt="class image" />

  <p>characterImage: {{ charImage }}</p>

  <p>Class: {{ charClass }}</p>

  <p>Level: {{ character.level }}</p>

  <p>Experience: {{ character.exp }}</p>

  <p>Hit Points: {{ character.hp }}</p>

  <p>Strength: {{ character.strength }}</p>

  <p>Intelligence: {{ character.intelligence }}</p>

  <p>Dexterity: {{ character.dexterity }}</p>

  <p>Wisdom: {{ character.wisdom }}</p>

  <p>Shield: {{ character.using_shield }}</p>

  <p>Rage: {{ character.rage }}</p>
</div>

</html>