{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'charactercreator/styles.css' %}" />
<html>
<div class="header">
  <h1>{{ character.name }}</h1>
</div>
<div class="container">
  {% if character %}
  {% if character.fighter %}<img src="{% static 'charactercreator/fighter.jpg'  %}" alt="fighter image" /> {% endif %}
  {% if character.mage %}<img src="{% static 'charactercreator/mage.jpg'  %}" alt="mage image" /> {% endif %}
  {% if character.thief %}<img src="{% static 'charactercreator/thief.jpg'  %}" alt="thief image" />{% endif %}
  {% if character.cleric %}<img src="{% static 'charactercreator/cleric.jpg'  %}" alt="cleric image" /> {% endif %}
  {% if character.necromancer %}<img src="{% static 'charactercreator/necromancer.jpg'  %}" alt="necromancer image" /> {% endif %}
  {% comment %} {% if character.walker %}<img src="{% static 'charactercreator/walker.jpg'  %}" alt="walker image" /> {% endif %}
  {% if character.runner %}<img src="{% static 'charactercreator/runner.jpg'  %}" alt="runner image" /> {% endif %}
  {% if character.berzerker %}<img src="{% static 'charactercreator/berzerker.jpg'  %}" alt="berzerker image" /> {% endif %} {% endcomment %}

  <h2>
    <strong>{{ charClass }}</strong>
  </h2>

  <p>Level: {{ character.level }}</p>

  <p>Experience: {{ character.exp }}</p>

  <p>Health Points: {{ character.hp }}</p>

  <p>Strength: {{ character.strength }}</p>

  <p>Intelligence: {{ character.intelligence }}</p>

  <p>Dexterity: {{ character.dexterity }}</p>

  <p>Wisdom: {{ character.wisdom }}</p>

  {% if character.using_shield %}<p>Shield: {{ character.using_shield }}</p> {% endif %} 
  
  {% if character.rage %}<p>Rage: {{ character.rage }}</p> {% endif %} 

  {% if character.has_pet %}<p>Has Pet: {{ character.has_pet }}</p> {% endif %} 

  {% if character.mana %}<p>Mana: {{ character.mana }}</p> {% endif %} 

  {% if character.is_sneaking %}<p>Sneaky Sneaky: {{ character.is_sneaking }}</p> {% endif %} 

  {% if character.can_infect_others %}<p><b><i>Infectious Zombie Alert: </i></b>{{ character.can_infect_others }}</p> {% endif %} 
  
  {% comment %} {% if character.inventory %}
  <h2>In the Bag of Holding</h2>
  <p>{{ character.inventory.name }}</p> {% endif %} {% endcomment %} 
  {% endif %}
</div>
<div>
    <form>
        <input type="button" value="Logout" onclick="window.location.href='https://django-rpg-app.herokuapp.com/accounts/logout/'"
        />
      </form>
</div>
</html>